
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
	background:#0D0D0D ;
    margin: 0;
    padding: 0;
}
.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #05A2D8;
    color: white;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
    font-family: 'Sansita Swashed', cursive;
    font-weight: 800;
    
}

.brand-title a{
    text-decoration: none;
    font-size: 1.5rem;
    margin: .5rem;
    font-family: 'Sansita Swashed', cursive;
    font-weight: 800;
    color: white;

}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: #05A2D8;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}

.brand-title:hover {
    color:#05A2D8;
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }
  
.brand-title a:hover{
    color:#05A2D8;
}
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }


/* SLIDER ==============================*/

.slider{
    width: 100%;
    height: 65vh;
    list-style: none;
    overflow: hidden;
}

.slider ul{
    display: flex;
    animation: cambio 15s infinite alternate linear;
    width: 400%;
    
}

.slider li{
    width: 100%;
    list-style: none;
}

.slider img{
    width: 100%;
    height: 100%;
}


@keyframes cambio{
    0%{margin-right: 0;}
    20%{margin-right: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}


    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
    
}

.title-i{
    text-align: center;
    margin-top: 10px;
    font-size: 2.5em;
    font-family: 'Sansita Swashed', cursive;
    color: #05A2D8;
}

/* FLORES ==============================*/
.lcontainer{
    left: 200px;
}
.g-container{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-height: 100vh;
    color: black;
    
}
.container{
    align-content: center;
    width: 990px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}

.card{
    position: relative;
    left: 1%;
    width: 300px;
    height: 370px;
    transition: 0.3s;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.5);
    margin: 15px;
    border-radius: 10px;
}

.card .imgbox{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}


.card .imgbox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    display: block;
    transition: 0.5s;
    border-radius: 10px;
}
.card .content{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    padding: 12px;
    background: #05A2D8;
    transition: all 0.5s cubic-bezier(.48, -0.28, 0.41, 1.4);
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 0px 0px 10px 10px;
}

.card:hover .content{
    width: 100%;
    height: 75%;
    left: 0;
    bottom: 0;
    border-radius: 20px;
}

.content p{

    margin: 10px 0 0;
    padding: 1em 1em;
    transform: translateY(2em);
    line-height: 1.3em;
    transition: 0.3s;
    opacity: 0;
}

.card:hover .content p{
    transform: translateY(0);
    opacity: 1;
}

.content h2{
    text-align: center;
}

.card:hover{
    box-shadow: 0 0 5em rgba(0, 0, 0, 0.5);
}

@media (max-width: 1200px){

    .container{
        width: 700px;
    }
    .card{
        left: 2%;
    }
}

@media (max-width: 700px){
    .container{
        width: 300px;
    }
}

/* NEWSLETTER ==============================*/

.newsletter{
    text-align: center;
    background: #05A2D8;
    color: white;
    display: flex;
    font-size: 1.5rem !important;
    justify-content: center;
}

.nl-title{
    
    padding: 0px 10px;
    margin: 0px 4px;

}

.newsletter input[type=text]{
    width: 200px;
    padding: 7px 5px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px 0px 0px 5px;
    box-sizing: border-box;
    margin-left:10px ;
}

.newsletter input[type=submit] {
    width: 30px;
    background-color: #05A2D8;
    color: white;
    padding: 8px 0px;
    margin: 8px -8px;
    border: none;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
    font-weight: 600;
  }

  .newsletter input[type=submit]:hover{
      background: black;
  }

@media (max-width:700px){

    .newsletter{
        display: block;
    }
}


/* FOOTER ==============================*/

.footer-main{
    width: 100%;
    height: auto;
    margin: auto;
    background: #05A2D8;
    padding: 20px 0px;
}

.footer-social{
    width: 100%;
    height: auto;
    margin: auto;
}

.footer-social ul{
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.footer-social ul li{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0px 10px;
    border-radius: 100%;
    background: white;
}

.footer-social ul li a{
    color: #05A2D8;
    font-size: 25px;
}

.footer-social ul li a i{
    line-height: 51px;
}

.menu-footer{
    width: 100%;
    height: auto;
    margin: auto;
}

.menu-footer ul{

    margin: 0;
    padding: 0;
    text-align: center;

}

.menu-footer ul li{
    display: inline-block;
    margin: 0 20px;
    margin-top: 5px;
}

.menu-footer ul li a{
    font-size: 14px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
}

.b-footer{
    width: 100%;
    height: auto;
    margin: auto;
    background: #05A2D8;
    padding: 10px;
}

.b-footer{
    font-size: 14px;
    text-align: center;
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
}
.b-footer p a{
    color: #fafafa;;
    text-decoration: none;
}

.b-footer p a:hover{
    color: #05A2D8;
}


/* BANNER ABOUT ==============================*/

.banner{
    background: black;

    background-size: cover;
    width: 100%;
    height: 50vh;
}

.banner h1{
    font-size: 6rem;

    position: relative;
    color: #fff;
    text-align: center;
    margin: auto;
    padding-top: 150px;
    font-family: 'Sansita Swashed', cursive;
}


@media screen and (max-width:700px){
    .banner{
        height: 50vh;
    }
    .banner h1{
        font-size: 3.5rem;
    }
}

/* CONTENT ABOUT ==============================*/
.wrapper{
    width: 100%;
    background-color: #0D0D0D;
    min-height: 50vh;
    overflow: hidden;
    padding-bottom: 50px;
}

.section{
    width: 90%;
    display: block;
    margin: 80px auto;
}

.left-section{
    width: 60%;
    float: left;
    padding-right: 50px;
}

.content-a{
    text-align: justify;
}

.img-section{
    float: right;
    width: 40%;

}
.img-section img{
    max-width: 100%;
    height: auto;
}
.content-a .title-a h2{
    color: #05A2D8;
    font-weight: 800;
    font-size: 40px;
    font-family: 'Sansita Swashed', cursive;
    

}

.content-a .title-a h3{
    padding-top: 15px;
    color: white;
    font-weight: 800;
}

.content-a p{
    padding-top: 15px;
    color: white;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 1.3;

}

@media (max-width: 760px){
    .left-section{
        width: 100%;
        padding-right: 0px;
    }
    .content-a{
        text-align: center;
    }
    .img-section{
        width: 100%;
        display: block;
        margin: 50px auto;
    }
    .img-section img{
        width: 100%;

    }
}

/* CONTENT GALLERY ==============================*/

.gallery-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 150px;
    padding: 20px;
    grid-gap: 10px;
}

.gallery-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery-item{
    position: relative;
}
.gallery-title{
    position: absolute;
    bottom: 0;
    color: #fff;
    background: linear-gradient(rgba(255,255,255, 0), rgba(0,0,0, 1));
    width:100%;
    margin: 0;
}
.gallery-item:nth-child(1){
    grid-column-start: span 2;
}
.gallery-item:nth-child(3){
    grid-row-start: span 2;
}
.gallery-item:nth-child(4){
    grid-column-start: span 2;
}

.gallery-item:nth-child(5){
    grid-column-start: span 2;
}
.gallery-item:nth-child(6){
    grid-column-start: span 2;
}

.gallery-item:nth-child(7){
    grid-row-start: span 2;
}
.gallery-item:nth-child(8){
    grid-column-start: span 2;
}

.gallery-item:nth-child(10){
    grid-column-start: span 2;
}
.gallery-item:nth-child(9){
    grid-row-start: span 2;
}

@media (min-width:768px){
    .gallery-container{
        grid-template-columns: repeat(4, 1fr);
    }
    .gallery-item:nth-child(2){
        grid-row-start: span 2;
    }
    .gallery-item:nth-child(11){
        grid-column-start: span 2;
    }
    .gallery-item:nth-child(12){
        grid-column-start: span 2;
    }

}

@media (min-width:1024px){
    .gallery-container{
        grid-template-columns: repeat(5, 1fr);
    }
    .gallery-item:nth-child(1){
        grid-column-start: span 3;
        grid-row-start: span 2;
    }
    .gallery-item:nth-child(3){
        grid-row-start: span 3;
    }
    .gallery-item:nth-child(4){
        grid-column-start: span 2;
    }
    
    .gallery-item:nth-child(5){
        grid-column-start: span 2;
    }
    .gallery-item:nth-child(6){
        grid-column-start: span 2;
        grid-row-start: span 2;
    }
    
    .gallery-item:nth-child(7){
        grid-row-start: span 3;
    }
    .gallery-item:nth-child(9){
        grid-column-start: span 2;
    }
    
    .gallery-item:nth-child(11){
        grid-row-start: span 2;
    }
    .gallery-item:nth-child(12){
        grid-row-start: span 2;
        grid-column-start: span 3;
    }

}

/* SERVICES GALLERY ==============================*/

a{
	text-decoration:none;
}
.services{
	width:100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}
.s-heading{
	text-align:center;
}
.s-heading h1{
	color:#576975;
	font-size: 3rem;
	font-weight: 400;
	letter-spacing: 1px;
	margin: 0px;
}
.s-heading p{
	color: rgba(87,105,117,0.60);
	font-size: 1rem;
	margin: 5px;
	text-align: center;
}
.s-box-container{
	width:100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.s-box{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	width:300px;
	padding: 20px 25px;
	height: 400px;
	box-sizing: border-box;
	margin: 30px;
	position: relative;
}
.s-box img{
	height: 150px;
}
.s-box h1{
	color:#576975;
	letter-spacing: 1px;
	font-size: 1.5rem;
	margin-bottom: 8px;
	
}
.s-box p{
	color: white;
	text-align: center;
}

.s-bar{
	width: 100px;
	height: 6px;
	position: absolute;
	left: 50%;
	top: 0%;
	transform: translateX(-50%);
	background-color:#05A2D8; 
	border-radius: 0px 0px 10px 10px;
	display: none;
	animation: s-bar 0.1s;
}
.s-box:hover{
	box-shadow: 2px 2px 30px rgba(0,0,0,0.08);
	transition: all ease 0.3s;
}

.s-box:hover .s-bar{
	display: block;
}
@keyframes s-bar{
	0%{
		width:0px;
	}
	100%{
		width:100px;
	}
}
@media(max-width:1050px){
	.s-box-container{
		flex-wrap: wrap;
		
	}	
	.services{
		height: auto;
	}
	.s-heading{
		margin: 15px;
	}
	.s-box{
		flex-grow: 1;
	}
	
}

/* CONTACT SECTION ==============================*/

.contact-section{
    padding: 80px 0;
    text-align: center;
  }
  
  .inner-width{
    max-width: 600px;
    margin: auto;
    padding: 0 20px;
  }
  
  .contact-section h1{
    font-size: 4rem;
    color: #05A2D8;
    margin-bottom: 40px;
    letter-spacing: 2px;
    font-weight: 900;
    font-family: 'Sansita Swashed', cursive;

  }
  
  .nombre,.email,.mensaje,.telefono,.asunto{
    background: none;
    border:none;
    outline: none;
    border-bottom: 1px solid;
    color: #05A2D8;
    padding: 10px 6px;
    font-size: 14px;
    margin-bottom: 40px;
  }
  
  .nombre{
    float: left;
    width: 270px;
  }
  
  .email{
    float: right;
    width: 270px;
  }

  .telefono{
    float: left;
    width: 270px;
  }
  
  .asunto{
    float: right;
    width: 270px;
  }
  
  .mensaje{
    min-width: 100%;
    max-width: 100%;
  }
  
  
  .c-button{
    background: none;
    color: #05A2D8;
    border: 1px solid #05A2D8;
    padding: 12px 40px;
    border-radius: 8px;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
  }
  
.c-button:hover{
    background: #05A2D8;
    color: #fff;
  }
  
  
  @media screen and (max-width:600px){
    .name,.email{
      width: 100%;
    }
  }
  